.MuiTimeField-root {
  border-radius: 16px;
  font-family: Montserrat, sans-serif;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.MuiFormControl-root .MuiPickersOutlinedInput-notchedOutline {
  border: none;

  &.Mui-focused {
    border: none;
  }
}

.MuiFormControl-root.Mui-focused {
  outline: none;
  border-radius: 16px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.MuiFormControl-root .MuiFormLabel-root.MuiInputLabel-root {
  font-family: Montserrat, sans-serif;
  text-align: left;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.Mui-focused,
  &.MuiFormLabel-filled {
    width: 150px;

    left: -13px;
    top: 4px;
    border-radius: 20px 25px 0 0;
    padding-left: 10px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      left: -14px;
      top: 3px;
    }
  }

  &.MuiFormLabel-filled {
    box-shadow: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.MuiPickersInputBase-root.MuiPickersOutlinedInput-root {
  font-family: Montserrat;

  padding: 0 10px;
  border-radius: 16px;
  border: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & .MuiPickersOutlinedInput-notchedOutline {
    border: none !important;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.Mui-focused {
  border: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.MuiFormControl-root.MuiPickersTextField-root {
  //date
  width: 100%;
  max-width: none;
}

.MuiFormControl-root.MuiPickersTextField-root {
  //time
  min-width: 130px;
  max-width: none;

  @media screen and (min-width: 768px) {
    max-width: 175px;
  }
}

.MuiPickersInputBase-root.MuiPickersOutlinedInput-root.MuiPickersInputBase-colorPrimary.MuiPickersInputBase-adornedEnd {
  font-family: inherit;
  position: relative;
  padding: 0px 15px;
}

.MuiInputAdornment-root .MuiButtonBase-root.MuiIconButton-edgeEnd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  border-radius: 16px;
  background-color: transparent;
  padding: 0 0 0 75%;
}

.MuiPickersInputBase-root .MuiPickersSectionList-section {
  pointer-events: none;
  font-family: Montserrat;

  &::selection {
    background-color: transparent;
  }
}

.MuiPickersSectionList-root span {
  font-family: Montserrat !important;
}

.MuiFormControl-root.MuiPickersTextField-root .MuiPopper-root {
  width: 160px;
}

.MuiPopper-root {
  .MuiMultiSectionDigitalClock-root {
    justify-content: center;
  }

  .MuiList-root {
    width: 50%;
    overflow-y: scroll;
  }

  .MuiList-root:first-of-type {
    .MuiButtonBase-root.Mui-disabled:nth-child(-n + 7) {
      display: none;
    }
  }

  .MuiList-root:last-of-type {
    .MuiButtonBase-root.Mui-disabled:nth-child(2n) {
      display: none;
    }
  }
  .MuiButtonBase-root {
    margin: 0 auto;
    font-family: inherit;

    &.Mui-disabled {
      opacity: 0.25;
    }
  }

  .MuiPickersLayout-root {
    .MuiPickersLayout-contentWrapper {
      grid-column: 1/4;
    }
  }

  left: 10px !important;

  @media screen and (max-width: 768px) {
    left: 25px !important;
  }
}
