.MuiTimeField-root {
  border-radius: 16px;
  font-family: Montserrat, sans-serif;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.MuiFormControl-root .MuiPickersOutlinedInput-notchedOutline {
  border: none;

  &.Mui-focused {
    border: none;
  }
}

.MuiFormControl-root.Mui-focused {
  outline: none;
  box-shadow: #8e8e93 0px 0px 10px;
  border-radius: 16px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.MuiFormControl-root .MuiFormLabel-root.MuiInputLabel-root {
  font-family: Montserrat, sans-serif;
  text-align: left;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.Mui-focused,
  &.MuiFormLabel-filled {
    width: 150px;

    left: -14px;
    top: 3px;
    border-radius: 20px 25px 0 0;
    padding-left: 10px;
    box-shadow: #8e8e93 -3px -5px 10px -5px;
    background-color: #f2f2f7;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.MuiFormLabel-filled {
    box-shadow: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.MuiPickersInputBase-root.MuiPickersOutlinedInput-root {
  font-family: Montserrat;

  padding: 0 10px;
  background-color: #f2f2f7;
  border-radius: 16px;
  border: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & .MuiPickersOutlinedInput-notchedOutline {
    border: none !important;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.Mui-focused {
  color: #000000 !important;
  border: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.MuiPickersOutlinedInput-notchedOutline {
  border-color: #000000 !important;
}

.MuiFormControl-root.MuiPickersTextField-root {
  //date
  width: 100%;
  max-width: none;
}

.MuiFormControl-root.MuiPickersTextField-root {
  //time
  min-width: 130px;
  max-width: none;

  @media screen and (min-width: 768px) {
    max-width: 175px;
  }
}

.MuiPickersInputBase-root.MuiPickersOutlinedInput-root.MuiPickersInputBase-colorPrimary.MuiPickersInputBase-adornedEnd {
  padding: 0px 15px;
}
