.MuiTimeField-root {
  border-radius: 16px;
  font-family: Montserrat, sans-serif;
}

.MuiFormControl-root .MuiPickersOutlinedInput-notchedOutline {
  border: none;
}

.MuiFormControl-root {
}

.MuiFormControl-root .MuiFormLabel-root.MuiInputLabel-root {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

.MuiPickersInputBase-root.MuiPickersOutlinedInput-root {
  font-family: Montserrat;

  padding: 0 10px;
  background-color: #f2f2f7;
  border-radius: 16px;
}

.Mui-focused {
  color: #000000 !important;
}

.MuiPickersOutlinedInput-notchedOutline {
  border-color: #000000 !important;
}

.MuiFormControl-root.MuiPickersTextField-root {
  //date
  width: 100%;
  max-width: none;
}

.MuiFormControl-root.MuiPickersTextField-root {
  //time
  min-width: 130px;
  max-width: none;

  @media screen and (min-width: 768px) {
    max-width: 175px;
  }
}

.MuiPickersInputBase-root.MuiPickersOutlinedInput-root.MuiPickersInputBase-colorPrimary.MuiPickersInputBase-adornedEnd {
  padding: 0px 15px;
}
