.react-date-picker .react-date-picker__wrapper {
  border-radius: 14px;
  background-color: #f2f2f780;
  padding: 5px 10px;
  margin-bottom: 20px;

  height: 40px;
  border: none;

  font-weight: 600;
}

.react-date-picker .react-calendar {
  border-radius: 16px;
  overflow: hidden;
  font-family: Montserrat, sans-serif;
  border: none;
  background: #f2f2f7;
  backdrop-filter: blur(10px);

  abbr {
    text-decoration: none;
  }
}

.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day {
  background-color: #c7c7cc;
}

.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day {
  background-color: #8e8e93;
}
