.react-select-container .react-select__control {
  width: 248px;
  height: 56px;
  border-radius: 16px;
  border: none;

  font-family: Montserrat, sans-serif;
  font-size: 16px;
  text-align: left;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--is-focused {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.react-select-container .react-select__menu {
  cursor: pointer;
  top: 48px;

  text-align: left;
}

.react-nav-select-container .react-nav-select__control {
  width: 45px;
  height: 30px;
  border: none;
  outline: none;

  background-color: transparent;

  font-family: Montserrat, sans-serif;
  font-size: 16px;
  text-align: left;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--is-focused {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.react-nav-select-container .react-nav-select__menu {
  cursor: pointer;
  top: 24px;
  left: -5px;

  text-align: left;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.react-nav-select-container .react-nav-select__single-value {
  margin: 0;
  padding: 6px 0 0;
}

.react-nav-select-container .react-nav-select__value-container {
  margin: 0;
  padding: 0;
}

.react-nav-select-container .react-nav-select__dropdown-indicator {
  margin: 0;
  padding: 0;
}
