.react-timerange-picker .react-timerange-picker__wrapper {
  border-radius: 14px;
  background-color: #f2f2f780;
  padding: 5px 10px;
  margin-bottom: 20px;

  height: 40px;
  border: none;

  font-weight: 600;
}
