/** Montserrat-Alt1 Regular **/
@font-face {
  font-family: "Montserrat-Alt1";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./MontserratAlt1-Regular.woff2") format("woff2"),
    url("./MontserratAlt1-Regular.woff") format("woff"),
    url("./MontserratAlt1-Regular.ttf") format("truetype");
}
