/** Montserrat-Alt1 Regular **/
@font-face {
  font-family: "Montserrat-Alt1";
  font-weight: 400;
  font-style: normal;
  src: url("Montserrat-Alt1-Regular.woff") format("woff"),
    url("Montserrat-Alt1-Regular.woff2") format("woff2");
}
